# PlatformIO
.pio/

# VS Code
.vscode/.browse_c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch/

# Local history
.history/
**/.history/

# KiCad temporary files
*.lck
~*.kicad_*
_autosave-*

# KiCad backups
*-backups/
*.bak

# FreeCAD backups
*.FCBak

# Operating system files
Thumbs.db
.DS_Store